In [4]:
import geopandas as gpd
import pandas as pd

In [12]:
!ls

dist_hls_val_sites.geojson            slcs_for_processing.csv.zip
dist_hls_validation_table.ipynb       slcs_resp.geojson
dist_val_bursts.geojson               subset_of_sites.ipynb
sites_for_processing_may_2024.geojson unfiltered_slcs.geojson

In [13]:
df_burst = gpd.read_file('dist_val_bursts.geojson')
df_burst.head()

,jpl_burst_id,is_land,is_north_america,orbit_pass,site_id,change_label,change_time,last_observation_time,track_number,geometry
0,t090_193169_iw1,1,False,ASCENDING,1,VLmaj,2021-10-08,NaT,90,"POLYGON ((-52.73133 -23.43816, -51.90414 -23.2..."
1,t097_207419_iw2,1,False,DESCENDING,1,VLmaj,2021-10-08,NaT,97,"POLYGON ((-51.66339 -23.30842, -52.52125 -23.1..."
2,t163_349964_iw3,1,False,ASCENDING,1,VLmaj,2021-10-08,NaT,163,"POLYGON ((-53.01716 -23.54912, -52.25936 -23.3..."
3,t039_083584_iw3,1,False,ASCENDING,2,noChange,NaT,NaT,39,"POLYGON ((129.82540 -29.63759, 130.62076 -29.4..."
4,t075_160202_iw1,1,False,DESCENDING,2,noChange,NaT,NaT,75,"POLYGON ((130.49640 -29.60892, 129.63063 -29.4..."

In [5]:
df_slcs = pd.read_csv('slcs_for_processing.csv.zip')
df_slcs.columns

Index(['centerLat', 'centerLon', 'stopTime', 'fileID', 'flightDirection',
       'pathNumber', 'processingLevel', 'url', 'startTime', 'sceneName',
       'browse', 'platform', 'bytes', 'md5sum', 'frameNumber', 'granuleType',
       'orbit', 'polarization', 'processingDate', 'sensor', 'groupID',
       'pgeVersion', 'fileName', 'beamModeType', 'site_id', 'jpl_burst_id',
       'geometry', 'date_acquired_str', 'dist_from_site_to_slc_centroid'],
      dtype='object')

In [8]:
sites_used = df_slcs.site_id.unique()
len(sites_used)

59

In [6]:
df_sites = gpd.read_file('dist_hls_val_sites.geojson')
df_sites.head()

,site_id,change_label,change_type,change_time,last_observation_time,mgrs_tile_id,geometry
0,1,VLmaj,Natural browning,2021-10-08,NaT,22KCV,POINT (-52.37979 -23.29715)
1,2,noChange,No Change,NaT,NaT,52JEN,POINT (129.85033 -29.57724)
2,3,VLmin,Natural browning,2022-01-28,2022-01-06,14SNC,POINT (-98.60056 33.77100)
3,4,VLmaj,Fire,2021-11-07,2021-11-02,34NCL,POINT (19.33289 4.57490)
4,5,VLmaj,Fire,2022-05-18,2022-05-11,50VMR,POINT (115.61901 63.10809)

In [10]:
df_sites_subset = df_sites[df_sites.site_id.isin(sites_used)].reset_index(drop=True)
df_sites_subset.head()

,site_id,change_label,change_type,change_time,last_observation_time,mgrs_tile_id,geometry
0,4,VLmaj,Fire,2021-11-07,2021-11-02,34NCL,POINT (19.33289 4.57490)
1,13,VLmaj,Crop cycle change,2021-10-03,NaT,39STR,POINT (48.77698 31.75490)
2,22,VLmin,Natural browning,2021-12-19,2021-12-12,37SBV,POINT (36.61178 35.52891)
3,30,noChange,No Change,NaT,NaT,31SDU,POINT (2.98892 34.90057)
4,34,VLmin,Wetland,2021-10-22,2021-10-08,13QFC,POINT (-103.52487 20.04769)

In [11]:
df_sites_subset.to_file('sites_for_processing_may_2024.geojson', driver='GeoJSON')